*{
    margin: 0;
    background: #f3f3f3;
}
.app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calc{
    width: 380px;

    border-radius: 4px;
    .calc__display{
        position: relative;
        background: #C4c4c4;
        border-radius: 10px 10px 0 0;
        padding: 45px;

        .action{
            background: #ffff00;
        }

        .display{
            position: absolute;
            right: 20px;
            background: #C4c4c4 ;
            color: #111111;
            bottom: 85%;
        }
    }
    .calc_actions{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px;

        background: #111111;

        margin: 0 -45px -45px -45px;
        border-radius: 0 0 5px 5px;
        button{
            flex: 50px;
            padding: 4px 10px;
            margin: 10px;

            border: none;
            border-radius: 2px;
        }
    }

}




